@import "tailwindcss";

@theme {
  --color-background: hsl(222.2 47.4% 11.2%);
  --color-foreground: hsl(210 40% 98%);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-blue-500/30;
  }
}